<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">Movies</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavMovie" aria-controls="navbarNavMovie" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavMovie">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" routerLink="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="/nuevo">Nuevo</a>
    </div>
  </div>
</nav>