<br>
<div class="col text-right">
	<a routerLink="/nuevo" class="btn btn-primary"> <i class="far fa-plus-square"></i> Nueva pelicula</a>
	<hr>
</div>
<div class="table-responsive-sm">
<table class="table table-hover table-dark table-sm">
	<thead >
		<tr>
			<th scope="col">OPCION</th>
			<th scope="col">ID</th>
			<th scope="col">NOMBRE</th>
			<th scope="col">GENERO</th>
			<th scope="col">AÑO</th>
			<th scope="col">DURACION</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let movie of movies">
			<td>
			<div class="btn-group" role="group">
				<a routerLink="/nuevo/{{movie.id}}" class="btn btn-secondary btn-sm"> <i class="far fa-edit"></i> editar</a>
				<a (click)="modalDelete(movie.name,movie.id)" class="btn btn-danger btn-sm"> <i class="far fa-trash-alt"></i> Eliminar</a>
			</div>
</td>
			<td>{{movie.id}}</td>
			<td>{{movie.name}}</td>
			<td>{{movie.genre}}</td>
			<td>{{movie.year}}</td>
			<td>{{movie.duration}}</td>
		</tr>
	</tbody>
</table>
</div>